package showcase

import (
	"github.com/RimJur/templui/components/calendar"
	"github.com/RimJur/templui/components/card"
)

templ CalendarDefault() {
	<div>
		@card.Card() {
			@card.Content() {
				@calendar.Calendar()
			}
		}
	</div>
}
