package pages

import (
	"github.com/RimJur/templui/internal/ui/modules"
	"github.com/RimJur/templui/internal/ui/showcase"
)

templ SidebarPreview() {
	@modules.SimplePreviewLayout(showcase.SidebarDefault())
}
